{% extends 'base.html.twig' %}

{% block title %}Edit EducationType{% endblock %}

{% block body %}
    <h1>Edit EducationType</h1>

    {{ include('education_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_education_type_index') }}">back to list</a>

    {{ include('education_type/_delete_form.html.twig') }}
{% endblock %}
